:root {
  --primaty-text-color: #757575;
  --title-text-color: hsl(0, 0%, 13%);
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

.hidden-title {
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: 0;
  opacity: 0;
  margin-top: -1px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primaty-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.btn {
  font-weight: bold;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
}

/* колір осоновного тексту #757575; */
/* вторинний колір тексту #212121 ; */
/* #FFFFFF; */
/* акцент #2196F3; */
/* вторинний колір фону #2F303A; */

.header-page {
  border-bottom: 1px solid #ececec;
  background-color: var(--primary-white-color);
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;

  font-size: 26px;
  line-height: 1.19;
  vertical-align: top;
  letter-spacing: 0.03em;
}
.header-logo {
  color: #000000;
}

.page-container {
  display: flex;
  justify-content: space-between;
}

.main-nav {
  display: flex;
  align-items: center;
}

/* site-nav */
.site-nav {
  display: flex;
  margin-left: 93px;
}

/* .site-nav .item {
  margin-right: 50px;
} */

/* .site-nav .item:last-child {
  margin-right: 0;
} */

/* .site-nav .item:not(:last-child) {
  margin-right: 50px; */

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
  position: relative;
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  position: absolute;
  left: 0;
  bottom: 0;
}

/* Contacts */

.header-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.header-contacts .item + .item {
  margin-left: 50px;
}

.header-contacts .link {
  color: var(--primaty-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts .link:hover,
.header-contacts .link:focus,
.link:hover use,
.link:focus use {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.envelope-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
}

.telephone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
}

/* 
.header-email::before {
  content: "";
  width: 16px;
  height: 12px;
  margin-right: 10px;
  background-image: url(../images/envelope.svg);
}

.header-phone {
  display: flex;
  align-items: center;
}

.header-phone::before {
  content: "";
  width: 10px;
  height: 16px;
  margin-right: 10px;
  margin-left: 30px;
  background-image: url(../images/telephone.svg); */
/* } */

/* Hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  color: var(--primary-white-color);
  text-align: center;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-bottom: 40px;

  color: var(--primary-white-color);
  text-transform: uppercase;

  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;

  background-color: var(--accent-color);
  color: var(--primary-white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* Features */

.features {
  padding-top: 94px;

  background-color: var(--primary-white-color);
}

.features-list {
  display: flex;
  justify-content: space-between;
}

.features-item {
  max-width: 270px;
}

.svg-thumb {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 270px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.icon-features {
  width: 70px;
  height: 70px;
}

/* .features-item.icon-antenna::before {
  background-image: url(../images/antenna.svg);
} */

/* .features-item.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.features-item.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.features-item.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
} */

/* .features-item:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
}

.features-item:nth-child(2)::before {
  background-image: url(../images/clock.svg);
}

.features-item:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
}

.features-item:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
} */

.features-title {
  color: var(--title-text-color);
  text-transform: uppercase;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.features-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* what we do */
.what-we-do {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--primary-white-color);
}
.what-we-do-title {
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.what-we-do-list {
  display: flex;
  justify-content: space-between;
}

/* .what-we-do-list li:not(:last-child) {
  margin-right: 30px;
} */

.what-we-do-item {
  position: relative;
}

.what-we-do-overlay {
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
}

.what-we-do-description {
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/* team */

.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: #f5f4fa;
}

.social-networks {
  display: flex;
  justify-content: center;
}

.icon-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:not(:last-child) {
  margin-right: 10px;
}

.icon-link:last-child {
  margin-right: 0;
}

.icon {
  fill: currentColor;
}

.icon-link:hover,
.icon-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.team-title {
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list li:not(:last-child) {
  margin-right: 30px;
}

.team-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.item-title {
  margin-bottom: 10px;
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.item-position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 16px;
}

/* clients */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--primary-white-color);
}

.clients-title {
  color: var(--title-text-color);

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-item:last-child {
  margin-right: 0;
}

.clients-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover use,
.clients-item:hover {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
}
.footer-logo {
  color: var(--primary-white-color);
}

.footer-contacts .link {
  display: block;

  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts li:not(:last-child) {
  margin-bottom: 9px;
}

/* .footer-contacts .link:last-child {
  margin-bottom: 0;
} */

/* /* .footer-contacts .link:last-child {
  margin-bottom: 0;
/* } */
/* (не розумію чому ці формули не працюють) */

.footer-contacts .address {
  color: var(--primary-white-color);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts .link:hover,
.footer-contacts .link:focus,
.footer-contacts .address:hover,
.footer-contacts .address:focus {
  color: var(--accent-color);
}

.join {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);

  margin-bottom: 20px;
}

.container.footer-wrap {
  display: flex;
  align-items: baseline;
}

.join-wrap {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.footer-social-networks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:not(:last-child) {
  margin-right: 10px;
}

.footer-link:last-child {
  margin-right: 0;
}

.footer-icon {
  width: 20px;
  height: 20px;
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--accent-color);
}

.subscribe {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-left: 93px;
  margin-bottom: 20px;

  color: var(--primary-white-color);
}

.subscribe-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 93px;
  padding-left: 16px;
  background-color: transparent;
  color: var(--primary-white-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.subscribe-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input:focus {
  border-color: var(--accent-color);
}

.subscribe-button {
  display: inline-flex;
  align-items: center;
  padding: 10px 29px;
  border-radius: 4px;
  margin-left: 12px;

  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #188ce8;
}

.subscribe-input-wrap {
  display: flex;
  align-items: center;
}

.icon-send {
  margin-left: 10px;
}

/* works */

.our-works {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--primary-white-color);
}

.works-gallery {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}

.works-gallery li:not(:last-child) {
  margin-right: 8px;
}

.works-button {
  display: block;
  margin: 0;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  color: var(--title-text-color);

  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .works-button:last-child {
  margin-right: 0;
} */

/* /* .works-button + .works-button {
  margin-left: 8px;
(не розумію чому ці формули не працюють) */

.works-button:hover,
.works-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-top: -30px;
}

.works-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #eeeeee;
  cursor: pointer;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .works-item {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.works-item:nth-child(3n) {
  margin-right: 0;
}

.works-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */

.works-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-item:hover .card-thumb-text {
  transform: translateY(0);
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.card-thumb-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;

  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-info {
  padding: 20px 24px;
}

.works-title {
  margin-bottom: 4px;
  color: var(--title-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: scale(0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal-close:hover .close-icon,
.modal-close:focus .close-icon {
  fill: var(--accent-color);
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;

  color: var(--title-text-color);
}

.form-field {
  margin-bottom: 10px;
}

.form-field:last-child {
  margin-bottom: 0;
}

.input-wrap {
  position: relative;
}

.form-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: var(--accent-color);
}

.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.label-text {
  display: inline-block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;

  color: var(--primaty-text-color);
}

.comment-field {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-field::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.comment-field:focus {
  border-color: var(--accent-color);
}

.form-field-textarea {
  margin-bottom: 20px;
}

.check-text {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primaty-text-color);
}

.terms {
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.check-text .icon-check {
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-check:checked + .check-text .icon-check {
  border: none;
  background-color: var(--accent-color);
}

.form-check {
  margin-bottom: 30px;
}

.modal-submit {
  display: inline-block;
  padding: 10px 55px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit:hover,
.modal-submit:focus {
  background-color: #188ce8;
}

.button-wrap {
  display: flex;
  justify-content: center;
}
